body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 
.card {
  cursor: pointer;
  margin: 10px;
  text-align: center;
 
}
/* .microserviceCard{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px; 
  height: 200px;
  width: 400px;
} 
.microserviceCard-info{
  margin-top: 100px;

}

.microservice-content{
  flex : 1;
}
  */

/* Card container */
.microserviceCard {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.microserviceCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card title */
.microserviceCard-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

/* Card info */
.microserviceCard-info {
  margin-top: 10px;
}

.microserviceCard-info p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555555;
}

.microserviceCard-info p span {
  font-weight: bold;
  color: #007bff;
}

/* Additional styling */
.microserviceCard-info p:last-child {
  margin-bottom: 0;
}

.microserviceCardComponent{
  
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
 
} 

 
/* New CSS for detailed microservice card */

.detailed-card{
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}



/* Microservice Detailed Card */
 
/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.service-overview {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 10px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
 
}

.service-overview h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.service-overview-info {
  font-size: 18px;
  color: #555;
}

.service-overview-info p {
  margin: 15px 0;
  padding: 10px;
  background-color: #f7f7f7;
  border-left: 5px solid #007bff;
  border-radius: 5px;
}

.serviceName,
.description,
.version,
.environment,
.uptime {
  font-weight: 600;
  color: #007bff;
}

.serviceName:before,
.description:before,
.version:before,
.environment:before,
.uptime:before {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.service-overview-info p span {
  color: #333;
  font-weight: normal;
}

/* API ENDPOPINTS */
 
.Api-endpoints {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  max-width: 900px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.Api-endpoints h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.api-endpoints-info {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td {
  border-bottom: 1px solid #ddd;
  color: #555;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Dependencies */
.dependencies {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}

.dependencies h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.dependencies ul {
  list-style-type: none;
  padding: 0;
}

.dependencies ul li {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dependencies ul li:hover {
  background-color: #0056b3;
}